.flash-message-success {
  background-color: #00f93e96;
  font-size: 20px;
  width: 400px;
  color: white;
  position: absolute;
  border-radius: 20px;
  text-align: center;
  left: 35%;
}
.flash-message-error {
  background-color: #a50000a8;
  font-size: 20px;
  width: 400px;
  color: white;
  position: absolute;
  border-radius: 20px;
  text-align: center;
  left: 35%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
.main-section {
  margin: 0;
  width: 100%;
  max-height: 100vh;
}
.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.card {
  width: 400px;
  height: 450px;
  background-color: white;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}
.card-container {
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}
.card-container * {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-icon span {
  border-radius: 50%;
  background-color: #80669d;
  object-fit: cover;
  color: white;
  margin: 0;
  margin-bottom: 10px;
  width: 40px;
  padding: 20px;
  font-size: 40px;
}
.card-title {
  color: black;
  font-size: 30px;
  margin-bottom: 10px;
}
.form-group .form-control {
  width: 70%;
  height: 50px;
  border-radius: 20px;
  margin-top: 10px;
  padding: 0 20px;
  font-size: 18px;
  font-style: italic;
  border: none;
  background-color: rgb(248, 248, 248);
  transition: 0.5s ease;
}
.form-group-below-log {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.form-group-below-reg {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.form-group-below-log .w-50 {
  margin-top: 30px;
  font-size: 18px;
  color: #80669d;
  font-weight: 600;
}
.form-group-below-reg .w-50 {
  margin-top: 10px;
  font-size: 18px;
  color: #80669d;
  font-weight: 600;
}
.w-50 a {
  color: #80669d;
}
.form-group button {
  width: 40%;
  background-color: #80669d;
  border: none;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  box-sizing: border-box;
  top: 95%;
  right: 30%;
  transition: 0.4s ease-in-out;
}
.form-group button:hover {
  background-color: rgb(95, 2, 183);
}
