{% extends 'base.html' %} {% block head %}
<title>Create Blog</title>
{% endblock %} {% block body %}
<div class="new-container">
  <div id="form-main">
    <div id="form-div">
      <form
        action="{{url_for('views.addpost')}}"
        method="post"
        class="form"
        id="form"
        enctype="multipart/form-data"
      >
        <p class="name">
          <input
            name="title"
            type="text"
            class="feedback-input"
            placeholder="Enter title..."
            id="name"
            required
          />
        </p>
        <p class="name">
          <input class="feedback-input" type="file" name="image" required />
        </p>

        <p class="tags">
          <input
            name="subtitle"
            type="text"
            class="feedback-input"
            id="tags"
            placeholder="Enter subtitle..."
            required
          />
        </p>

        <p class="comment">
          <textarea
            name="content"
            class="feedback-input"
            id="comment"
            placeholder="Content here..."
            rows="4"
            required
          ></textarea>
        </p>

        <div class="submit">
          <input type="submit" value="Create Blog" id="button-blue" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
