{% extends 'base.html' %} {% block head %}
<title>{{post.title}}</title>
{% endblock %} {% block body %}
<div class="post-container">
  <div
    style="background-image: url({{post.image}}); background-position: center;"
    class="post-bg"
  >
    <div class="post-content">
      <div class="post-header">
        <h1>{{ post.title }}</h1>
        <p class="subtitle">{{post.subtitle}}</p>
        <a href="/profile">
          <p class="date">
            Posted by: {{user.username.capitalize()}} on {{ date_posted }}
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="post-article">
    <div class="article-container">
      <p class="post-text">{{post.content}}</p>
      <div class="post-footer">
        <div class="post-stats">
          <p class="stat">{{ post.date_created.strftime('%d %B') }}</p>
          <p class="stat">{{post.num_read}} read</p>
        </div>
        <div class="post-actions">
          <a href="#">
            <img
              src="{{ url_for('static', filename='img/comment.png')}}"
              alt=""
            />
          </a>
          <a href="#">
            <img
              src="{{ url_for('static', filename='img/share.png')}}"
              alt=""
            />
          </a>
          {% if current_user.id == post.author %}
          <a href="/post/{{post.id}}/edit">
            <img src="{{ url_for('static', filename='img/edit.png')}}" alt="" />
          </a>
          {% endif %} {% if current_user.id == post.author %}
          <a href="/post/{{post.id}}/delete">
            <img
              src="{{ url_for('static', filename='img/delete.png')}}"
              alt=""
            />
          </a>
          {% endif %}
        </div>
      </div>
      <div id="commentsContainer" class="comments-container">
        <h2>Comments</h2>
        <div class="container-header">
          <div class="comment-form">
            <input
              name="comment"
              type="text"
              placeholder="Add your comment..."
              required
              id="commentText"
            />
            <button onclick="addComment({{post.id}})" type="submit">
              Comment
            </button>
          </div>
        </div>
        {% for comment in post.comments %}
        <div class="comments-contain">
          {% if comment.user.prof_image %}
          <img class="comment-image" src="{{comment.user.prof_image}}" alt="" />
          {% else %}
          <img class="comment-image" src="/static/img/user.png" alt="" />
          {% endif %}
          <div class="comments-content">
            <div class="comment-header">
              <h3>{{ comment.user.username }}</h3>
              <h4>{{ comment.date_created.strftime('%d %B, %Y') }}</h4>
            </div>
            <div class="comment-body">
              <p>{{comment.content}}</p>
              {% if comment.author == current_user.id %}
              <a href="/post/{{post.id}}/comment/{{comment.id}}/delete">
                <img
                  src="{{ url_for('static', filename='img/delete.png')}}"
                  alt=""
                />
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
